*.iml
.gradle
/local.properties
*.jks
*.keystore
/keystore/
/.idea
.DS_Store
build/
/androidApp/live/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
